*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: arial, sans-serif;
}
.marg-top{
  margin-top: -20px;
}

.bg-blue{
  background-color: #2C3E50;

}
.txt-white{
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.navbar ul li {
  font-size: 15px;
  list-style: none;
}
.navbar ul li a:hover{
  text-decoration: none;
  color: white;

}
.chisiamo{
  background-color: #53BD9D;
  padding: 50px 0;
}
/* .chisiamo span i{
  width: 30px;
  height: auto;
} */

.dividers{
  border-bottom: 3px solid white;
  margin-top: 20px;
}
.glyphicon-star{
  font-size: 40px;
}
.chisiamo p{
  text-transform: none;
  margin-top: 20px;
}
img{
  width: 200px;
  height: auto;
}
